.default-layout-grid {
  @apply grid h-screen w-screen;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header"
    "main"
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}
